@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 25% 98%;
    --foreground: 264 29% 3%;
    --card: 270 25% 98%;
    --card-foreground: 264 29% 3%;
    --popover: 270 25% 98%;
    --popover-foreground: 264 29% 3%;
    --primary: 262 29% 53%;
    --primary-foreground: 270 25% 98%;
    --secondary: 95 29% 74%;
    --secondary-foreground: 264 29% 3%;
    --muted: 270 25% 20%;
    --muted-foreground: 264 29% 70%;
    --accent: 158 29% 64%;
    --accent-foreground: 264 29% 3%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 264 29% 3%;
    --border: 270 25% 20%;
    --input: 270 25% 20%;
    --ring: 158 29% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 270 20% 2%;
    --foreground: 264 33% 97%;
    --card: 270 20% 2%;
    --card-foreground: 264 33% 97%;
    --popover: 270 20% 2%;
    --popover-foreground: 264 33% 97%;
    --primary: 262 29% 47%;
    --primary-foreground: 264 33% 97%;
    --secondary: 95 29% 26%;
    --secondary-foreground: 264 33% 97%;
    --muted: 270 20% 80%;
    --muted-foreground: 264 33% 97%;
    --accent: 158 29% 36%;
    --accent-foreground: 264 33% 97%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 265 33% 10%;
    --border: 270 20% 60%;
    --input: 270 20% 80%;
    --ring: 158 29% 60%;
  }
}
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }